
node_modules
.env

# gitignore Backend-hardhat


# Hardhat files
backend-hardhat/cache
backend-hardhat/artifacts

# TypeChain files
backend-hardhat/typechain
backend-hardhat/typechain-types

# solidity-coverage files
backend-hardhat/coverage
backend-hardhat/coverage.json

# Hardhat Ignition default folder for deployments against a local node
backend-hardhat/ignition/deployments



#gitignore Backend-nodejs

backend-nodejs/dist


#gitignore frontend


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
